<h3>Welcome {{name}}</h3>
<h5>Available Balance: {{stockPorfolio.hoaCoin}}</h5>
<p></p>

<h1>My porfolio</h1>
<div class="row">
    <div class="col s12 m4">
        <div class="card stock-card" data-name="">
            <div class="card-content center-align">
                <h4 class="card-title">SIZ Ltd.</h4>
                <p>You own {{stockPorfolio.sizStock}}</p>
                <div class="market-info">
                    <p class="card-text stock-info"><a target="_blank"
                            href="/stock/siz">Details</a></p>
                    <p class="card-text stock-info up" id="diff"> 9.45
                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    </p>
                    <p class="card-text stock-info"><strong>$</strong> <span id="price">1340</span></p>
                    <p class="card-text stock-info">SIZ</p>
                    <input id="input_{{stock.code}}" />
                    <a style="white-space:nowrap" href="/stock/siz/trade" class="btn btn-primary btn-success ">TRADE</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
            </div>
            <div class="card-content center-align">
                <h5>ANT</h5>
                <p>You own {{stockPorfolio.andiStock}}</p>
                <p>Current Value : </p>
                <br>
            </div>
            <div class="card-action center-align">
                <a href="/stock/andi" class="btn grey">Trade</a>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
            </div>
            <div class="card-content center-align">
                <h5>WD</h5>
                <p>You own {{stockPorfolio.stanleyStock}}</p>
                <p>Current Value : </p>
                <br>
            </div>
            <div class="card-action center-align">
                <a href="/stock/whiteDevil" class="btn grey">Trade</a>
            </div>
        </div>
    </div>

</div>